@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for Firefox */
  .scrollbar-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }